<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">color</th>
                        <th scope="col">License plate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars">
                        <td>{{car.id}}</td>
                        <td>{{car.color}}</td>
                        <td>{{car.licensePlate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>