<div class="container card mt-5">
    <h4 class="card-header">Listado de autos</h4>
    <div class="container card-body mt-5">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="goToForm()">Crear Auto</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">color</th>
                            <th scope="col">License plate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let car of cars">
                            <td>{{car.id}}</td>
                            <td>{{car.color}}</td>
                            <td>{{car.licensePlate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>